<div class="fundo">
    <section class="login">
        <header>
            <img src=" /assets/img/pomar pro (1).png" >
        </header>
        <form [formGroup]="form">
            <input type="text" placeholder="Usuário" formControlName="usuario">
            <input type="password" placeholder="Senha" formControlName="senha">
            <p class="erro">{{msg_erro}}</p>
            <button (click)="onLogin()">Entrar</button>
        </form >
        <footer>
            <p>Desenvolvido por: Tainan Victor Antunes de Melo</p>
        </footer>
    </section>
</div>
