<aside class="sidebar">
    <header>
      <div class="logo"> 
        <img src="assets/img/pomar pro (1).png" alt="Logo">
    </div>
      <button routerLink = "/login" class= "logout">Sair</button>
    </header>
    <nav>
      <ul>
        <li>
          
            <button routerLink="/home">home</button>
          
        </li>
        <li>
          <details>
            <summary>Administração</summary>
            <ul>
              <li><a routerLink="/cadUsuario">Usuário</a></li>
              <li><a routerLink="/material">material</a></li>
              <li><a routerLink="/produto">produto</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Pomar</summary>
            <ul>
              <li><a routerLink="/cadastro">Cadastro</a></li>
              <li><a routerLink="/movimento">movimento</a></li>
              <li><a routerLink="/arvore">arvore</a></li>
              <li><a routerLink="/colheita">colheita</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </nav>
  </aside>
  
  